body {
  background-image: radial-gradient(black, black, black);
}

header {
  background: transparent!important;
}

button {
  border-radius: 50px!important;

}

.MuiButtonBase-root{
  color: #ffffff!important;
  border: none!important;
}

#token-modal{
  background-color: #022A57!important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root::before{
  border: none!important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  text-transform: none!important;
}

div.MuiPaper-root{
  background: #171616!important;
  color: #fff;
}

div.MuiCardContent-root{
  background: #4f4c4c;
  border-radius: 27px;
  margin: 0px 17px 0 15px;
}

div.MuiGrid-root{
  color:#fff;
}

#sell_input{
  font-size: 20px;
  margin-right: 14px;
  color: #fff;
  text-align: right; 
}

#buy_input{
  font-size: 25px;
  margin-right: 14px;
  color: #fff;
  text-align: right; 
}

.swap_icon{
  cursor: pointer;
  top: 28px;
  position: relative;
}

.css-1vv4lmi::before{
  border-bottom: none!important;
}

.swap_button{
  text-align: center;
  background: grey;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  border-radius: 27px;
}

.swap_button_approved{
  text-align: center;
  background: rgb(15, 142, 201);
  padding: 20px;
  margin: 15px 15px 0 15px;
  border-radius: 27px;
  cursor: pointer;
}

.css-ittuaa-MuiInputAdornment-root,.css-1x51dt5-MuiInputBase-input-MuiInput-input,.css-1a6giau,.css-1vv4lmi{
  color: #fff!important;
}

.swap_icon button:hover{
  animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}