body {
  background-image: radial-gradient(black, black, black);
}

header {
  background: transparent!important;
}

button {
  border-radius: 50px!important;
}

.MuiButtonBase-root{
  color: #fff!important;
}

div.MuiPaper-root{
  background: #171616!important;
  color: #fff;
}

div.MuiCardContent-root{
  background: #4f4c4c;
  border-radius: 27px;
  margin: 0px 17px 0 15px;
}

div.MuiGrid-root{
  color:#fff;
}

.sell_input{
  font-size: 25px;
  float: right;
  margin-right: 14px;
}

.buy_input{
  font-size: 25px;
  margin-right: 14px;
  position: relative;
  bottom: 34px;
}

.swap_icon{
  text-align: center;
}

.swap_button{
  text-align: center;
  background: grey;
  padding: 20px;
  margin: 15px 15px 0 15px;
  border-radius: 27px;
}